body {
  font-family: medium-content-sans-serif-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  color: rgba(0, 0, 0, 0.84);
  font-size: 20px;
  line-height: 1.4; }

.main-container {
  margin: auto;
  max-width: 100%;
  padding-left: 20px !important;
  padding-right: 20px !important; }
  .main-container .header .medium a .logo img {
    max-width: 40px; }

.left-icon-box {
  position: relative; }

.right-icon-box {
  position: relative;
  float: right; }
  .right-icon-box .right-icon div {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 16px;
    vertical-align: middle; }
    .right-icon-box .right-icon div.profile img {
      border-radius: 100%; }
    .right-icon-box .right-icon div #search-text {
      border: none; }
      .right-icon-box .right-icon div #search-text:focus {
        outline: none; }
  .right-icon-box .right-icon div > * {
    cursor: pointer; }

.medium-header-iconbar {
  height: 42px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin-left: auto !important;
  margin-right: auto !important; }
  .medium-header-iconbar .left-icon-box,
  .medium-header-iconbar .right-icon-box {
    display: inline-flex; }
  .medium-header-iconbar .left-icon {
    margin-right: 10px; }
  .medium-header-iconbar .left-topic {
    border-left: solid 1px gray; }
    .medium-header-iconbar .left-topic .medium-topic {
      vertical-align: baseline;
      font-size: 20px;
      margin-left: 10px; }

.medium-header {
  max-width: 1032px !important;
  margin: 35px auto; }

.btn-upgrade {
  border-color: gray; }

.hover-black:hover {
  border-color: black; }

.link--noUnderline {
  text-decoration: none; }

.link, .link:hover {
  text-decoration: none;
  cursor: pointer;
  color: inherit; }

.cap-text {
  text-transform: uppercase !important; }

.marginBottom12 {
  margin-bottom: 12px !important; }

.medium-h1 {
  font-family: medium-content-title-font, medium-marketing-display-font, Georgia, Cambria, "Times New Roman", Times, serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 46px;
  color: rgba(0, 0, 0, 0.84);
  line-height: 1.25em;
  letter-spacing: -.6px !important; }

p {
  margin-bottom: 30px; }

.search-medium {
  display: none; }
  .search-medium #search-text {
    font-size: 14px !important; }

hr {
  max-width: 1032px; }

.featured {
  max-width: 1208px;
  margin: 12px auto 0 auto; }
  .featured .featured1,
  .featured .featured2,
  .featured .featured3 {
    display: inline-block;
    width: 32%; }
  .featured .featured1 {
    margin-right: 24px;
    width: 34.5%; }
    .featured .featured1 .featured1-post {
      width: 100%; }
      .featured .featured1 .featured1-post .featured1-post-img {
        margin-bottom: 16px; }
      .featured .featured1 .featured1-post .post-content {
        margin-left: 88px; }
  .featured .featured2 {
    margin-right: 24px;
    width: 31.5%; }
  .featured .featured3 {
    width: 29.1%; }
    .featured .featured3 .featured3-post .featured3-post-img {
      width: 100%;
      margin-bottom: 16px; }
    .featured .featured3 .featured3-post .post-content {
      margin-right: 66px; }

.featured-button {
  margin-left: 133px;
  /* display: block; */
  max-width: 35%;
  margin-top: 30px; }
  .featured-button .featured-link {
    text-transform: uppercase !important;
    text-decoration: none;
    font-size: 14px;
    color: #03a87c !important; }
  .featured-button .featured-next {
    font-size: 12px !important;
    text-decoration: none;
    color: #03a87c !important; }

.nav-item {
  display: inline-block;
  color: rgba(0, 0, 0, 0.54) !important;
  fill: rgba(0, 0, 0, 0.54) !important; }
  .nav-item .nav-text a {
    color: rgba(0, 0, 0, 0.54) !important;
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif !important;
    font-size: 12px !important;
    line-height: 20px !important;
    font-style: normal !important;
    letter-spacing: .05em !important;
    text-transform: uppercase;
    padding: 0 !important;
    margin-right: 24px; }
    .nav-item .nav-text a:hover {
      color: black !important; }

.medium-navigation-bar nav {
  padding: 0 !important; }

.medium-blog-header {
  margin-right: -20px;
  margin-left: -20px;
  padding: 12px 65px;
  z-index: 2;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05) !important; }

.medium-caption-box p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54); }

.blog-container {
  margin: 0 65px; }
  .blog-container .blog-header .cover-text-box {
    display: inline-block;
    max-width: 545px;
    width: 100%;
    padding: 60px 60px 32px 0;
    vertical-align: top; }
    .blog-container .blog-header .cover-text-box .blog-summary {
      font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif !important;
      font-weight: 400 !important;
      font-style: normal !important;
      letter-spacing: 0 !important;
      font-size: 19px;
      color: rgba(0, 0, 0, 0.54);
      line-height: 28px; }
    .blog-container .blog-header .cover-text-box .author-box .follow-button {
      padding: 2px 6px 1px 6px;
      line-height: 1.2;
      font-size: 13px; }
  .blog-container .blog-header .cover-image-box {
    display: inline-block; }
    .blog-container .blog-header .cover-image-box .cover-image img {
      height: 60vh;
      min-height: 417px; }
    .blog-container .blog-header .cover-image-box .cover-image-caption {
      padding-top: 10px; }
  .blog-container .avatar {
    padding-right: 10px !important; }
    .blog-container .avatar img {
      border-radius: 100%; }
  .blog-container .author-avatar {
    display: inline-block; }
  .blog-container .author-details-box {
    display: inline-block;
    vertical-align: middle; }
  .blog-container .caption-name-link {
    font-size: 14px;
    display: inline-block;
    padding-right: 4px; }
  .blog-container .caption-follow {
    display: inline-block; }
  .blog-container .date time {
    font-size: 13px; }
  .blog-container .date #min {
    font-size: 13px; }
  .blog-container .dot {
    font-size: 2px; }
  .blog-container .star {
    font-size: 9px;
    color: gray !important; }
  .blog-container .caption-text {
    font-size: 14px;
    color: gray !important; }
  .blog-container .blog-body .media-icon-box {
    max-width: 20px;
    /* margin-right: 19px; */
    display: inline-block;
    margin-right: 186px;
    margin-top: 134px; }
  .blog-container .blog-body .blog-text {
    display: inline-block;
    max-width: 740px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 58px auto;
    vertical-align: top; }
    .blog-container .blog-body .blog-text .text p > * a {
      color: #171819 !important; }
    .blog-container .blog-body .blog-text .author-mention-box {
      padding-top: 50px !important;
      padding-bottom: 50px !important; }
      .blog-container .blog-body .blog-text .author-mention-box .author-img {
        display: inline-block; }
        .blog-container .blog-body .blog-text .author-mention-box .author-img img {
          width: 152px;
          height: 152px;
          border-radius: 100%; }
      .blog-container .blog-body .blog-text .author-mention-box .details {
        margin-left: 25px !important;
        display: inline-block;
        vertical-align: top;
        max-width: 69%; }
        .blog-container .blog-body .blog-text .author-mention-box .details span {
          font-size: 13px;
          color: gray !important; }
        .blog-container .blog-body .blog-text .author-mention-box .details p {
          font-size: 16px;
          margin-bottom: 16px !important; }
  .blog-container .blog-footer {
    background: rgba(0, 0, 0, 0.88);
    margin-left: -85px;
    margin-right: -85px; }
    .blog-container .blog-footer .blog-footer-content {
      max-width: 1000px !important;
      padding-top: 50px !important;
      padding-bottom: 50px !important;
      padding-left: 20px !important;
      padding-right: 20px !important;
      margin-left: auto !important;
      margin-right: auto !important; }
      .blog-container .blog-footer .blog-footer-content .text-content {
        color: rgba(255, 255, 255, 0.85);
        display: flex !important; }
        .blog-container .blog-footer .blog-footer-content .text-content div {
          margin-right: 16px !important; }
        .blog-container .blog-footer .blog-footer-content .text-content p {
          font-size: 14px;
          opacity: 0.5; }
      .blog-container .blog-footer .blog-footer-content .last-content {
        border-top: 1px solid !important;
        border-color: rgba(255, 255, 255, 0.2) !important;
        padding-top: 40px !important; }
        .blog-container .blog-footer .blog-footer-content .last-content .last-medium {
          display: inline-block; }
        .blog-container .blog-footer .blog-footer-content .last-content .last-nav {
          display: inline-block;
          color: rgba(255, 255, 255, 0.85);
          font-size: 14px;
          width: 200px !important;
          margin-left: 68%;
          opacity: 0.5; }
          .blog-container .blog-footer .blog-footer-content .last-content .last-nav #About {
            padding-right: 42px; }
          .blog-container .blog-footer .blog-footer-content .last-content .last-nav #Help {
            padding-right: 42px; }

.home-frontpage-left {
  max-width: 680px;
  padding-right: 24px !important;
  display: inline-block; }

.home-frontpage-right {
  width: 328px;
  display: inline-block; }

.popular-list-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
  padding-bottom: 16px !important;
  margin-right: 32px !important;
  margin-left: 32px !important;
  margin-top: 32px !important;
  cursor: pointer; }

.home-frontpage-container {
  max-width: 1032px !important;
  margin: 0 auto; }

.list {
  padding: 32px !important;
  list-style: none; }
  .list li > * {
    margin-bottom: 24px !important; }
    .list li > * .list-number {
      display: inline-block; }
    .list li > * .list-textbox {
      display: inline-block; }
