.main-container {
  margin: auto;
  max-width: 100%; }
  .main-container .header .medium a .logo img {
    max-width: 40px; }

.left-icon-box {
  position: relative; }

.right-icon-box {
  position: relative;
  float: right; }
  .right-icon-box .right-icon div {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 16px;
    vertical-align: middle; }
    .right-icon-box .right-icon div.profile img {
      border-radius: 100%; }
    .right-icon-box .right-icon div #search-text {
      border: none; }
      .right-icon-box .right-icon div #search-text:focus {
        outline: none; }
  .right-icon-box .right-icon div > * {
    cursor: pointer; }

.medium-header-iconbar {
  height: 65px !important;
  margin-left: auto !important;
  margin-right: auto !important; }
  .medium-header-iconbar .left-icon-box,
  .medium-header-iconbar .right-icon-box {
    display: inline-flex; }

.medium-header {
  max-width: 1032px !important;
  margin: 20px auto; }

.btn-upgrade {
  border-color: gray; }

.hover-black:hover {
  border-color: black; }

.medium-logo img {
  max-width: 114px; }

.nav-item {
  display: inline-block;
  color: rgba(0, 0, 0, 0.54) !important;
  fill: rgba(0, 0, 0, 0.54) !important; }
  .nav-item .nav-text a {
    color: rgba(0, 0, 0, 0.54) !important;
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif !important;
    font-size: 12px !important;
    line-height: 20px !important;
    font-style: normal !important;
    letter-spacing: .05em !important;
    text-transform: uppercase;
    padding: 0 !important;
    margin-right: 24px; }
    .nav-item .nav-text a:hover {
      color: black !important; }

.medium-navigation-bar nav {
  padding: 0 !important; }
