.ready-btn {
    padding: 0;
    font-size: 14px;
    padding-left: 4px;
    padding-right: 4px;
    border-color: #03a87c;
    color: #03a87c;
    display: inline-block;
    margin-right: 10px;
    margin-left: 20px;
}

.content-header {
    margin-left: 146px;
    margin-right: 146px;
    margin-top: 12px;

    >div {
        display: inline-block;
    }

    .profile {
        img {
            border-radius: 100%;
        }
    }

    .medium-icon {
        i {
            font-size: 38px;
        }
    }

    .draft {
        vertical-align: super;
        margin-left: 10px;

        span {
            font-size: 14px;
        }
    }

    .ready-btn {
        vertical-align: baseline;
        margin-left: 340px;
    }

    .menu {
        font-size: 15px;
    }

    .bell-icon {
        margin-left: 20px;
    }

    .profile {
        margin-left: 20px;
    }
}

.content-story-box {
    .add-media {
        i {
            position: absolute;
            left: 22vw;
            top:195px;
        }
    }

    .content-story {
        max-width: 740px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        margin: 0 auto;


        .write-story {
            .story-title {
                input {
                    border: none;
                    width: 400px;

                    &:focus {
                        outline: none;
                    }

                }


                input,
                input::-webkit-input-placeholder {
                    font-size: 43px;
                    line-height: 3;
                    color: #b3b3b1;
                    font-family: medium-content-title-font, Georgia, Cambria, "Times New Roman", Times, serif;
                }
            }

            .story-des {
                // margin-top: -25px;

                #write {
                    min-height: 40vh;
                    z-index: 1111;

                    &[contentEditable=true]:empty:not(:active):before {
                        content: attr(data-placeholder);
                        color: #b3b3b1;
                        font-family: medium-content-title-font, Georgia, Cambria, "Times New Roman", Times, serif;
                    }

                    &:focus {
                        outline: none;
                    }
                }


            }
        }
    }
}